body {
  font-family: 'Roboto', sans-serif;
}

/* NAV BAR */
nav {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 250px;
  background-color: #37474f;
  color: #dedede;
}

nav i {
  margin-right: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: none;
  color: #dedede;
  padding: 15px 15px 15px 30px;

  outline:none
}

nav a:hover {
  background-color: #546e7a;
}

nav li {
  padding: 0;
}

nav .nav-dropdown {
  display: none;
}

nav .nav-dropdown a {
  padding-left: 60px;
}

nav .nav-dropdown a:hover {
  background-color: #263238;
}

.nav-active {
  background-color: #263238;
}

#nav-logo {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 25px;
  padding: 20px;
}

/* MAIN SECTION */

main {
  margin-left: 250px;
  padding: 0 50px;
}
