body {
  font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 250px;
  background-color: #37474f;
  color: #dedede;
}

nav i {
  margin-right: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: none;
  color: #dedede;
  padding: 15px 15px 15px 30px;

  outline:none
}

nav a:hover {
  background-color: #546e7a;
}

nav li {
  padding: 0;
}

nav .nav-dropdown {
  display: none;
}

nav .nav-dropdown a {
  padding-left: 60px;
}

nav .nav-dropdown a:hover {
  background-color: #263238;
}

.nav-active {
  background-color: #263238;
}

#nav-logo i {
  position: absolute;
  top: 0;
  left: 15px;
  margin: 0;
  font-size: 40px;
  color: #d32f2f;
}

#nav-logo h1{
  font-weight: 300;
  font-size: 25px;
  margin: 0;
  margin: 10px 0 20px 65px;
}

/* FORM SECTION */
input[type=text], input[type=submit], select, textarea {
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  transition: all ease-in-out 0.2s;
  outline:none;
  -moz-appearance: none;
  -webkit-appearance:none;
}

input[type=text]:focus, input[type=submit]:focus, select:focus, input[type=submit]:hover, textarea:focus {
  border: 1px solid #263238;
  box-shadow: 0px 0px 5px 0px rgba(38, 50, 56, 0.2);
}

textarea {
  resize:vertical;
}

input[type=submit] {
  margin: 50px 0 0 45px;
  cursor: pointer;
}

form {
  float: left;
  max-width: 800px;
}

form div.form-input {
  display: inline-block;
  margin-right: 20px;
}

form div.form-input i {
  width: 20px;
  padding: 10px;
}

form div.form-input textarea {
  margin-left: 45px;
}

/* MAIN SECTION */
main {
  display: inline-block;
  margin-left: 250px;
  margin-bottom: 50px;
  padding: 0 50px;
}


/* RESULTADO QUERY SECTION */
#resultado_query .msg-sucesso {
  margin: 50px 0 0 45px;
  padding: 20px;
  background-color: #a5d6a7;
  max-width: 500px;
  border-radius: 5px;
  display: inline-block;
  transition: all ease-in-out 0.2s;
}

#resultado_query .msg-sucesso i {
  cursor: pointer;
  margin-left: 20px;

  transition: all ease-in-out 0.2s;
}

#resultado_query .msg-sucesso i:hover {
  color: #fff;
}

#query_validate_check, #query_validate_check p, #query_validate_check i {
  display: inline-block;
  margin: 0;
}

#query_validate_check i {
  padding-right: 0;
}

#query_validate_check p.msg-sucesso, #query_validate_check i.msg-sucesso {
  color: #a5d6a7;
}

#query_validate_check p.msg-erro, #query_validate_check i.msg-erro {
  color: #e53935;
}

#questoes_adicionadas {
  float: right;
  margin-left: 10px;
  padding: 20px;
  display: none;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
}

#questoes_adicionadas h4 {
  margin: 0;
}

#questoes_adicionadas ul {
  padding-left: 20px;
  margin-bottom: 0;
}

#questoes_adicionadas li {
  padding-bottom: 10px;
}

/* TABELA */
table, th, td {
   border-collapse: collapse;
   margin: 45px 45px 0 45px;
   border: 1px solid #cfd8dc;
   padding: 15px;
   text-align: left;
}

table .table-check {
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

table .table-check:hover {
  color: #a5d6a7;
}
